# Ignore version control directories and files
.git
.gitignore

# Ignore Rust build artifacts
target
**/target
**/dist
**/testdata
**/blobs

# Ignore Node dependencies and frontend build output
**/node_modules
frontend/app/dist

# Ignore documentation files
docs
**/docs
*.md

# Ignore temporary files
*.tmp
*.swp
*.swo
*~

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
.idea
.vscode
*.iml

